<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Crear Nuevo SimpleObject</h2>
      <div class="form-group">
        <input [(ngModel)]="newObjectName" class="form-control" placeholder="Nombre del objeto simple">
        <button (click)="createSimpleObject()" class="btn btn-primary">Crear</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Buscar SimpleObject por Nombre</h2>
      <div class="form-group">
        <input [(ngModel)]="searchName" class="form-control" placeholder="Nombre a buscar">
        <button (click)="findByName()" class="btn btn-primary">Buscar</button>
        <button (click)="clearSearch()" class="btn btn-secondary">Borrar búsqueda</button> <!-- Botón para borrar la búsqueda -->
   
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <h2>Lista de SimpleObjects</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Acciones</th> <!-- Agrega una columna para acciones -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let simpleObject of filteredSimpleObjects">
            <td>{{ simpleObject.name }}</td>
            <td>
              <button (click)="deleteSimpleObject(simpleObject.id)" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
